*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #111;
	font: 300 12px/1 "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
textarea{
	resize: vertical;
}
input, textarea, button{
	outline: none;
	border: none;
}
button{
	cursor: pointer;
}
/* DEFAULT CLASSES START */
.border-top{
	border-top: 1px solid #ececec;
}
.grey-bg{
	background-color: #f8f8f8;
}
/* DEFAULT CLASSES END */
/* DEFAULT STYLE */
.default-section{
	padding: 140px 0;
}
.small-section{
	padding: 70px 0;
}
.title{
	font-family: "Dosis", sans-serif;		
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
}
.title.color-white{
	color:#fff;
}
.title.text-light{
	letter-spacing: .3em;
}
blockquote{
	padding:0;
	margin: 0;
	border: none;
	font-size: 24px;
	color: #777;
	line-height: 1.6;

}
blockquote span{
	font-size: 11px;
	font-weight: 400;
	
}
.text-section{
	font-size: 15px;
	line-height: 1.73em;
}
.btn{
	letter-spacing: .2em;
	padding:10px 30px;
	border:none;
	text-transform: uppercase;
	border-radius: 2px;
}
.btn:active:focus,
.btn:focus{
	outline: none;
}
.btn.btn-default{
	background-color: rgba(255, 255, 255, .8);
}
.btn.btn-default:hover{
	background-color: #fff;
}
.btn.btn-dark{
	background-color: #323323;
	color: #fff;
}
.btn.btn-dark:hover{
	background-color: #525252;
}
.form-control{
	height: 40px;
	border-color: #dfdfdf;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #777;
	box-shadow: none;
}
.form-control:focus{
	border-color: #111111;
	box-shadow: none;
}
textarea.form-control{
	min-height: 95px;
}
/*.form-group{
	padding-bottom: 10px;
	margin: 0;
}*/
.navbar-toggle{
	margin: 0;
	right: -40px;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
/* DEFAULT COMPONENTS STYLE END */

/* HEADER STYLE START */

.header{
	background-color: #131313;
	position:absolute;
	top:0;
    left:0;
    width: 100%;
    padding:0 30px;
}
.logo{
	padding: 25px 0;
	float:left;
}
.header-nav{
    color:#fff;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-transform: uppercase;   
	float: right;
}

.header-nav ul{
	 line-height: 71px;
}
.header-nav li{
	 display: inline-block;
 }
.header-nav li+li{
    margin-left: 30px;
}
@media (max-width: 767px){
	.header-nav{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
		right: 0;
		background: rgb(19, 19, 19);
		padding: 20px 0;
	}
	.header-nav li{
		display: block;
		text-align: right;
		padding: 20px 15px;
	}
	.header-nav ul{
		line-height: 0;
	}
	.container-fluid>.navbar-collapse{
		margin: 0;
	}
}
/* HEADER STYLE END */

/* MAIN STYLE START */
.control-down{
	left: 50%;
	bottom: 30px;
	position: absolute;
	transform: translateX(-50%);
}
.control-down::before{
	content:'';
	display: block;
	position: absolute;
	width: 23px;
	height: 23px;
	background-color: #fff;
	left: 50%;
	transform:translateX(-50%) rotate(45deg);
}
.control-down i.fa{
	position: relative;
	font-size: 18px;
	transform: translateY(40%);
	color: #3d3d3d;
}
.inner::before{
    content: '';
    display: inline-block;
    height: 100%;
     vertical-align: middle;
    margin-left: -4px;
}
.inner{
	background: url(../img/inner-bg.png) center / cover;
	height: 100vh;
	text-align: center;
	padding-top: 70px;
}
.inner-content h6{
	font-size: 30px;
	font-family: 'Dosis';
	color: #afafaf;
	letter-spacing: 1.7em;
	margin-bottom: 100px;
	text-transform: uppercase;
}
.inner-content{
	vertical-align: middle;
	display: inline-block;
}
.inner-content span{
	color: rgba(254, 254, 254, 0.20);
	font-size: 19px;
}
@media (max-width: 1199px){
	.inner{
		height: auto;
		padding-top: 200px;
		padding-bottom: 200px;
	}
	.control-down{
		top: 79%;
	}
}
@media (max-width: 999px){
	.inner-content h6{
		font-size: 20px;
		margin-bottom: 50px;
	}
	.inner-content span{
		font-size: 12px;
	}

}

/* ABOUT STUDIO START */
.text-section .rgb{
	color: #777777;
}
.our-team{
	margin-top: 100px;
}
.team-item-img{
	position: relative;
}
.team-item-info{
	padding: 25px 5px 0;
	text-align: center;
	font-family: "Dosis";
	letter-spacing: .4em;
	text-transform: uppercase;
}
.team-item-info span{
	display: block;
	margin-bottom: 12px;
}
.team-item-info span.team-item-name{
	font-size: 15px;
}
.team-item-info span.team-item-role{
	font-size: 12px;
}
.team-item-skills{
	opacity:0;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	background-color: lightgray;
}
.team-item-img:hover .team-item-skills{
	opacity: 1;
}
@media (max-width: 768px){
	.team-item-img{
		text-align: center;
	}
	.text-section .rgb{
		padding-top: 10px;
	}
	.our-team{
		margin-top: 63px;
	}
	.default-section{
		padding: 100px 0;
	}
}
/* ABOUT STUDIO END */

/* SERVICES START */

.nav-tabs{
	border: none;
}
.serviсes-tabs .nav-tabs>li{
	width: 20%;
	text-align: center;
}
.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover{
	padding: 0;
	margin: 0;
	border: none;
	opacity:.6;
	color: #111;
	background-color: transparent;
	outline:none;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>.active>a:focus{
	opacity:1;
}
.nav-tabs li .tablist-title,
.portfolio-tabs .nav-tabs li{
	display: block;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .4em;
	color: #111;

}
.nav-tabs li .icon{
	font-size: 48px;
}
.tab-content .tab-pane{
	padding-top: 70px;
}
@media (max-width: 991px){
	.nav-tabs li .tablist-title{
		letter-spacing: .1em;
		margin-top: 22px;
	}
	.tab-content .tab-pane{
		padding-top: 50px;
	}
}
@media (max-width: 599px){
	.serviсes-tabs .nav-tabs>li{
		width: 33.3333%;
		padding-top: 15px;
		font-size: 13px;
	}
}
@media (max-width: 499px){
 	.serviсes-tabs .nav-tabs>li .tablist-title{
 		font-size: 10px;
 	}
}
/* SERVICES END */

/* LETS TALK START */
.lets-talk{
	background: url("../img/site/lets-talk-bg.jpg") no-repeat center / cover;
}
.lets-talk-content{
	margin: 140px 0;
}
.lets-talk-content .title{
	margin-bottom: 22px;
}
.lets-talk-content p{
	color: rgba(255, 255, 255, .70);
	font-size: 15px;
	line-height: 1.73;
	margin-bottom: 40px;
}
.lets-talk-img{
	margin-top: -32px;
}

/* LETS TALK END */

/* PORTFOLIO START */
.default-section.portfolio{
	padding-bottom: 0px;
}

.portfolio-content{
	margin: 0 auto;
	max-width: 765px;
}
.portfolio .portfolio-content>p{
	font-size: 15px;
	line-height: 26px;
	color: #777777;
	text-align: center;
}
.portfolio-tabs{
	text-align: center;
	margin-top: 70px;
}
.portfolio-tabs .nav-tabs>li{
	font-size: 13px;
	
}
.portfolio-tabs .nav-tabs li+li{
	margin-left: 60px;
}
.portfolio-tabs .nav-tabs{
	display: inline-block;
	text-align: center;
}
.img-section img{
 padding-bottom: 6px;
	width: 100%;
}
.tab-content .img-section .img-section-firs{
	width: 33%;
	display: inline-block;
	text-align: left;
	padding-left: 10px;
}
@media (max-width: 799px){
	.portfolio-content p{
		padding: 15px;
	}
}
@media (max-width: 600px){
 	.portfolio-tabs .nav-tabs li+li{
 		 margin-left: 30px;
 		 letter-spacing: .2em;
 	}
}
@media (max-width: 499px){
	.portfolio-tabs .nav-tabs{
		 margin-left: 20px;
	}
	.portfolio-tabs .nav-tabs li{
		width: 50%;
		margin: 15px 0 0 0;
	}
	.portfolio-tabs .nav-tabs li+li{
		width: 50%;
		margin: 15px 0 0 0;
	}
}


/* PORTFOLIO END */

/* START PROJECT */
.start-project{
	background-color: #111;
	padding: 70px 0px;
}
.start-project .title{
	margin-bottom: 20px;
}

/* START PROJECT END */

/* why-choose-us start*/

.why-choose-us.title{
	margin-bottom: 87.25px;
}
.icon span{
	display: block;
	font-size: 48px;
	text-align: center;
	margin-bottom: 34.5px;
	margin-top: 20px;
}
.why-choose-us-info h6{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: #111;
	margin-bottom: 35px;
	text-align: center;
}
.why-choose-us-info p{
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	color: #777;
}
.why-choose-us .row+.row{
	margin-top:85px;
}
/* why-choose-us end */

/* REVIEWS START */
.reviews{
	background-color: #000;
	overflow: hidden;
}
.reviews .carousel-caption{
	position: static;
}
.reviews .carousel-caption .title{
	margin-bottom: 40px;
}
.reviews .carousel-caption p{
	font-size: 18px;
	line-height: 1.6666;
	max-width: 750px;
	margin: 0 auto 20px auto;
	color: rgba(255, 255, 255, .75);
}
.reviews .carousel-caption>span{
	font-size: 11px;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
	letter-spacing: .2em;
}
.icon-wrap{
	text-align: center;
}
.icon-wrap span{
	font-size: 32px;
	margin-bottom: 20px;
}
@media (min-width: 768px){
	.carousel-indicators{
		bottom: -45%;
	}
	
}
@media (max-width: 768px){
	.carousel-indicators{
		top: 105%;
	}
}

.carousel-control{
	background: none;
	opacity: 0;
	width: 85px;
	transition: opacity .1s linear, transform .2s linear ;
	transform: translateX(-10px);
}
.carousel-control.right{
	transform: translateX(10px);
}
.carousel-control::before{
	content: '';
	display: block;
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #fff;
	top: 50%;
	left: -60%;
	transform: translateY(-50%) rotate(45deg);
	
}
.carousel-control.right::before{
	left: auto;
	right: -50%;
}
.reviews:hover .carousel-control{
	opacity: 1;
	transform: translateX(0px);
}

.carousel-control i.fa{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #222;
	left: 20px;
}
.carousel-control.right i.fa{
	left: auto;
	right: 20px;
}
/* REVIEWS END */

/* LATEST NEWS START */
.new-section-img{
	margin-bottom: 30px;
}
.news .title a{
	 float: right;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.6em;
	margin-top: 5px;
}
.news-text h6{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #777;
	margin-bottom: 15px;
}
.news-text span{
	font-family: 'Dosis', sans-serif;
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	text-transform: uppercase;
}
.news-text p{
	margin-top: 30px;
	color: #a2a2a2;
	font-size: 15px;
	line-height: 26px;

}
.new-section-btn{
	margin-top: 25px;
}
.btn.btn-xs{
	
	background-color: rgba(0, 0, 0, 0.1);
	padding: 7.5px 13px;
	font-size: 11px;
}
@media (max-width: 1200px){
	.new-section-btn{
		margin-bottom: 20px;
	}
	.news-text{
		text-align: center;
	}
	.new-section-btn{
		text-align: center;
	}
	.new-section-img{
		text-align: center;
	}
}


/* LATEST NEWS END */
/* CONTACKT START */
.subscribe .title{
	margin-bottom: 15px;
}
.subscribe input[name="userEmail"]{
	width: 293px;
	margin-right: 3px;
}
.subscribe .form-group{
	margin-right: 3px;

}
.small-icon{
	margin-top: 23px;
	color: #aaaaaa;
}
.small-icon p {
	font-size: 11px;
	font-family: 'FontAwesome';
	display: inline-block;
}
.contact-us form{
	margin: 0 -5px;
}
.form-col{
	width: 50%;
	padding: 0 5px;
	float: left;
	color: #aaaaaa;
}
.form-submit{
	clear: both;
}
.form-submit .form-col span{
	margin-top: 23px;
	color: #aaaaaa;
}
.form-submit .form-col p{
	font-size: 11px;
	font-family: 'FontAwesome';
	display: inline-block;
}
.contact-area{
	margin-bottom: 83px;
	margin-left: 200px;
}
.contact-atribut{
	text-transform: uppercase;
	max-width: 200px;
}
.contact-item{
	
	margin-bottom: 83px;
}
.contact-item-icon{
	font-size: 30px;
    float: left;
    height: 37px;
    width: 37px;
    transform: rotate(45deg);
    background-color: #000;
    text-align: center;
	border-radius: 4px;
}
.contact-item i{
	font-size: 20px;
    color: #fff;
     transform: rotate(-45deg);
}
.contact-content{
    padding-bottom: 14px;
    color: #777777;
    text-transform: uppercase;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
	font-family: Dosis;
}
.contact-number{
    float: left;
    padding-left: 20px;
	font-family: Dosis;
	color: #777777;
}
@media (max-width: 799px){
	.form-group input[name="userEmail"]{
		width: 100%;
	}
}
@media (max-width: 799px){
	.contact-item-icon{
		font-size: 16px;
		height: 18px;
		width: 18px;
	}
	.contact-item-icon i{
		font-size: 13px;
	}
}
@media(max-width: 499px){
	.form-col .btn{
		 padding-top: 10px;
		 letter-spacing: 0;
  		 padding: 6px 20px
	}
}
/* CONTACKT END */

/* MAP START*/
.map{
	position: relative;
	overflow: hidden;
}
.on-map-block::before{
    content: '';
    display: inline-block;
    height: 125%;
     vertical-align: middle;
    margin-left: -4px;
}
.map iframe{
	width: 100%;
	height: 410px;
}
.on-map-block{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	transition: all .3s linear;
	text-align: center;
}
.map:hover .on-map-block{
	transform: translateY(100%);
	opacity: 0;
}
.on-map-icon span{
	text-transform: uppercase;
	padding-top: 20px;
	letter-spacing: 0.3em;
    color: rgba(255, 255, 255, .75);
    display: block;
    font-size: 16px;
}
.on-map-icon i{
	color: #000;
	font-size: 13px;
	transform: rotate(-45deg)
}
.on-map-icon span i{
	transform: rotate(0deg);
	color: #fff;
}
.on-map-icon{
  	display: inline-block;
}
.on-map-icon-item{
	width: 29px;
	height: 29px;
    background-color: #f8f8f8;
    text-align: center;
    transform: rotate( 45deg);
    border-radius: 5px;
    line-height: 32px;
   display: inline-block;
}

/* MAP END*/

/* FOOTER START */
.footer{
    padding-bottom: 31px;
    margin-top: 140px;
}
.footer-content{
	overflow: hidden;
    padding-bottom: 30px;
}
.footer-logo{
	 text-align: center;
}
.footer-icon {
	margin-top: 25px;
	font-size: 27px;
}
.footer-item-icon{
	width: 26px;
	height: 24px;
	float: left;
	/*color: #fff;*/
	font-size: 11px;
	text-align: center;
	line-height: 23px;
	transform: rotate( 45deg);
    border-radius: 4px;
    margin-left: 20px;
    border: 1px solid
}
.footer-item-icon i{
	font-size: 14px;
    transform: rotate(-45deg);
}
.footer-bot{
	text-align: center;
	text-transform: uppercase;
	margin: 60px;
	
}
.footer-bot .foot-last{
	display: block;
	margin-top: 20px;
	text-transform: none;
	color: #999999;
	font-size: 11px;
	font-family: 'Dosis', sans-serif;
}
.footer-bot span{
	font-size: 10px;
	color: #999999;
}
.footer-bot i{
	letter-spacing: 0.4em;
	padding-left: 15px;
	font-size: 12px;
	font-family: "Dosis";
}
.footer-icon li{
	display: inline-block;
}
.footer-icon ul{
	text-align: center;
}


/* FOOTER START */


/* MAIN STYLE END */




















